
body {
    background: skyblue;
  }



#title {
    text-align: center;
    font-size: 100px;
    color: black;
}

h2 {
    font-size: 50px;
    color: black;
    padding: 5px;
    margin: 0;
}



.button {
    color: red;
    cursor: pointer;
    font-weight: bold;
    
}

ul, ol {
    font-size: 50px;
    color: black;
    margin: 0;

}

a {
    text-decoration: none;
}

.resources:hover, .button:hover {
    text-decoration: underline;
}

.bordered {
    border: 5px solid black;
    padding: 5px;
}



body {
    background: skyblue;
  }



#title {
    text-align: center;
    font-size: 100px;
    color: black;
}



.button {
    color: red;
    cursor: pointer;
    font-weight: bold;
    
}

ul, ol {
    font-size: 15px;
    color: black;
    margin: 0;

}

a {
    text-decoration: none;
}

.resources:hover, .button:hover {
    text-decoration: underline;
}

.bordered {
    border: 5px solid black;
    padding: 5px;
}


#imageborder {
    max-height: 250px;
    max-width: 100%;
    padding: 0px;
    border: 5px solid black;
    margin-left: 1457px;
    margin-top: -133px;

}

a:link {
    color: blue;
  }
  
a:visited {
    color: purple;
  }

