body {
    background: skyblue;
  }



#title {
    text-align: center;
    font-size: 100px;
    color: black;
}



.button {
    color: red;
    cursor: pointer;
    font-weight: bold;
    
}

ul, ol {
    font-size: 15px;
    color: black;
    margin: 0;

}

a {
    text-decoration: none;
}

.resources:hover, .button:hover {
    text-decoration: underline;
}

.text {
    border: 5px solid black;
    margin: 0%;
    padding: 1%;
    margin-bottom: 0%;
}


#imageborder {
    max-height: 250px;
    max-width: 100%;
    padding: 0px;
    border: 5px solid black;
    margin-left: 90%;
    margin-top: -8%;

    

}

a:link {
    color: blue;
  }
  
a:visited {
    color: purple;
  }


